html{
  font-size: 1.5vmin;
}

@media (min-aspect-ratio: 3/1) {
  html {
    font-size: 14vmin;
  }
}

body {
    height: 90vh;
    width: 95vw;
    box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  column-gap: 0.5rem;
}

.turn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.board {
  display: grid;
  height: 40vh;
  width: 95vw;  
  grid-template: 10rem 10rem 10rem / 10rem 10rem 10rem;
  justify-content: center;
  text-align: center;
  gap: 2px;
  padding-top: 1rem;
}

.winningMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  padding-top: 5rem;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5rem;
  border: 1px solid grey;
  cursor: pointer;
}